<div>
    {{#each artists as |artist|}}
    <div>
        <h2>{{artist.user_name}}</h2>
        Artist Bio:
        <p>{{artist.bio}}</p>
        Artist Preferred Media:
        <p>{{artist.media}}</p>
    </div>
    {{/each}}
</div>

