<div class="uk-section uk-section-muted uk-section-med uk-flex uk-height-viewport">
    <div class="uk-container uk-margin-large">
        <h1 class="uk-heading-divider "> You have successfully added a new piece of artwork!</h1>
        <h2>
            <button class="uk-button uk-button-default" type="botton"><a href="/dashboard">Return to Dashboard</a></button>
        </h2>
    
</div>