{{!-- <div class="uk-text-center">Select A Category To View </div> --}}
<div class="uk-section uk-section-secondary uk-section-xsmall uk-flex uk-margin-medium-left uk-margin-medium-right uk-margin-xlarge-top uk-margin-xlarge-bottom">
        <div class="uk-grid-match uk-width-auto@s uk-child-width-expand@m uk-child-width-expand@l uk-grid-large uk-padding-large" uk-grid>

            <div class="paintings">
                <h2 class="sectionCategory uk-text-center uk-margin-small-bottom">Painting</h2>
                <div class="gallery-cards uk-card uk-card-default uk-card-body uk-height-large uk-width-2xlarge uk-cover-container">
                    <img src="{{paintings.path}}" uk-cover/>
                </div>
            </div>

            <div class="sculptures">
                <h2 class="sectionCategory uk-text-center uk-margin-medium-bottom">Sculpture</h2>
                <div class="gallery-cards uk-card uk-card-default uk-card-body uk-height-large uk-width-2xlarge uk-cover-container">
                    <img src="{{sculptures.path}}" uk-cover/>
                </div>
            </div>

            <div class="photographs">
                <h2 class="sectionCategory uk-text-center uk-margin-medium-bottom">Photography</h2>
                <div class="gallery-cards uk-card uk-card-default uk-card-body uk-height-large uk-width-2xlarge uk-cover-container">
                    <img src="{{photographs.path}}" uk-cover/>
                </div>
            </div>
        </div>
    </div>


 <script src="/js/gallery.js"></script>
