{{!-- <p>console.log('TESTING')</p> --}}

<header class="header">
    <div class="header-inner">
        <h1>We Are <br>All About That Art</h1>
        <h2>Sign up to view local artists</h2>
        <p uk-margin>
            <a class="uk-button uk-button-default" href="#">Sign Up</a>
        </p>
    </div>
</header>

<div class="uk-section uk-section-xlarge uk-section-muted">
    <div class="uk-container">

        <h3 class="uk-text-center uk-margin-xlarge-bottom">Who We Are</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aut rem omnis cum sunt aperiam, neque repellat similique dolore! Quisquam. </p>
            </div>
            <div>
                <p class="uk-text-center">Possible Image Here ? </p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam impedit tenetur accusamus ab fugit illo tempore corporis quasi optio commodi.</p>
            </div>
        </div>

    </div>
</div>

<div class="uk-section uk-section-large uk-section-secondary">
    <div class="uk-container">

        <h3 class="uk-text-center">Featured Artist</h3>
        <br><br><br>

        <div class="uk-grid uk-child-width-1-1@m" uk-grid>
            <div>
               <img data-src="/public/assets/images/blackcat.jpeg" width="600" height="400" alt="" uk-img>
            </div>
            <p class="uk-text-center">{{art.user.user_name}}artist username test</p>
            <p class="uk-text-center">{{art.category}}category test</p>
            <p class="uk-text-center">{{art.description}}description test</p>
        </div>
    </div>
</div>