
    <h2>file upload</h2>
    <form action="/api/upload" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label for="title">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="field">
            <label for="title">Category</label>
            <input type="text" name="category" id="category">
            <select class="uk-select" id="category">
                <option>Painting</option>
                <option>Sculpture</option>
                <option>Photography</option>
            </select>
        </div>
        <div class="field">
            <label for="title">Description</label>
            <input type="textarea" name="description" id="description">
        </div>
        <div class="field">
            <label for="title">Image</label>
            <input type="file" name="image" id="file"></input>
        </div>
        <div class="field">
            <input type="submit">
        </div>
    </form>
