<!-- xlarge section, flex container, flex items along main axis -->
<div class="loginBackground form uk-section uk-section-xlarge uk-section-default uk-flex uk-flex-center uk-height-viewport">
    <!-- fills 100% of available width -->
    <div class="uk-width-1-1">
        <!-- align & centers content inside -->
        <div class="uk-container">
            <!-- margin adds top/bottom padding, auto horizontally centers flex elements, fixed xl width, sets up card for form, body creates padding between card & content -->
            <div class="loginForm uk-margin uk-margin-auto uk-width-xlarge uk-card uk-card-default uk-card-body">
                        
                <!-- Title of sign up card -->
                <h3 class="welcomeBack uk-card-title uk-text-center uk-text-bold">Welcome back!</h3>
                <br>
                <form class="login-form">
                    <div class="uk-margin">
                        <!-- spans entirety of card -->
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input uk-form-large" type="text" placeholder="Email" id="email-login">
                        </div>
                    </div>
                            
                    <div class="uk-margin">
                        <!-- spans entirety of card -->
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input uk-form-large" id="password" type="password" placeholder="Password">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div>
                    </div>
                            
                    <div class="uk-margin">
                        <button class="loginButton uk-button uk-button-secondary uk-button-large uk-width-1-1 uk-text-bold login-form" type="submit">Login</button>
                    </div>
                            
                    <div class="redirect-signup uk-text-small uk-text-center">
                        Don't have an account? <a href="/signup">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>