/* Colors I am using:
dark blue #011418;
lighter blue #09558F;
white
*/

* {
    font-family: 'Karla', 'sans-serif';
}

/* Header image with slight scrim overlay so overlaying text is visible/readable */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Torn page effect under header image */
.header:after{
    content:"";
    display:block;
    height: 50px;
    background-image:url('https://ecorelos.com/wp-content/uploads/2020/04/torn-border2.png');
    position: static;
    bottom: 100px;
    width:300%;
    left:-500px;    
}

.header-inner {
    max-width: 85%;
    margin: 0 auto;
    padding: 300px 10px 50px;
}

/* All About That Art header text */
.header h1 {
    font-size: 100px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-family: 'Karla';
}

/* Sign up to view local artist text */
.header h2 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    font-family: 'Karla';
}

/* Call To Action(CTA) button underneath header text */
.cta {
    color: #011418;
    background-color: white;;
    border-radius: 12px;
    transition: all 0.5s;
}

/* CTA button hover */
.cta:hover {
    color: #09558F;
    background-color: white;
    border-color: #09558F;
}

.topnav {
    background-color: transparent;
    font-family: 'Karla';
}

/* Navbar link text color */
.uk-navbar-nav > li > a {
    color: #011418;
    transition: none;
}

.uk-navbar-nav > li > a:hover {
    color: #09558F;
    font-weight: bold;
} 

/* Logo */
.uk-navbar-item.uk-logo {
    margin-left: -10px;
    display: block;
    position:relative;
}

/* Hamburger menu icon color */
.uk-navbar-toggle {
    color: #011418;
}

.uk-navbar-toggle:hover {
    color: #09558F;
}

/* Hamburger menu icon side bar */
.uk-offcanvas-bar {
    background-color: #011418;
    opacity: 0.9;
}
/* First section home page */
.first-section {
    background-color: white;
    color: #011418;
}

/* log in/sign up form border radius */
.loginForm, .signupForm {
    border-radius: 15px;
}

.welcomeBack, .signUpForFree {
    font-size: 36px;
}

/* form input fields/button/checkbox */
.uk-button.uk-button-secondary.uk-button-large.uk-width-1-1.uk-text-bold, 
.uk-input.uk-form-large, .uk-checkbox {
    border-radius: 12px;
}

/* eye icon on password field */
#togglePassword {
    margin-left: -35px;
    cursor: pointer;
}

.login-background, .signUpBackground {
    background-color: #011418;
    font-family: 'Karla';
}

.signUpButton, .loginButton {
    background-color: #09558F;
}

.gallery-cards {
    border-radius: 12px;
}

/* Home page first section */
.mission {
    color: #09558F;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

/* First section, first line */
.purpose1 {
    color: #09558F;
    font-size: 18px;
    font-weight: 200;
}

/* First section, second line */
.purpose2 {
    font-size: 56px;
    font-weight: 700;
    color: #011418;
}

.about {
    font-weight: 200;
    color: #011418;
}

/* Featured artist section */
.featured {
    font-size: 48px;
    font-weight: 500;
    color: white;
}

.featured-image {
    border-radius: 12px;
}

.featured-artist {
    background-color: #011418;
    color: white;
}

.featured-head-text, .featured-description {
    font-weight: 200;
}

/* Last section */
.join {
    font-size: 48px;
    weight: 500;
    color: #09558F;
}

.join2 {
    font-weight: 200;
    color: #011418;
}

.lastButton {
    color: white;
    background-color: #011418;
    border-radius: 12px;
}

.lastButton:hover {
    color: #011418;
    background-color: white;
    border-color: #011418;
}

/* Rec page */
.recs {
    border-radius: 12px;
    opacity: 0.8;
}

.recTitle {
    font-weight: 700;
    font-size: 20px;
}

.locations {
    font-weight: 500;
    font-size: 20px;
    color: #011418;
}

.reclinks {
    color: #09558F;
}

.reclinks:hover {
    color: #011418;
}

.places {
    font-weight: 700;
}


