* {
  font-family: "Karla", "sans-serif";
}

.homeHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homeHeader:after {
  content: "";
  display: block;
  height: 50px;
  background-image: url("/assets/header_images/torn-border2.png");
  position: static;
  bottom: 100px;
  width: 100%;
}

.headAlign {
  max-width: 85%;
  margin: 0 auto;
  padding: 300px 10px 50px;
}

.topText {
  font-size: 112px;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  font-family: "Karla";
}

.bottomText {
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
  font-family: "Karla";
}

.callToActionButton {
  color: #011418;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  transition: all 0.5s;
  font-size: 20px;
}

.callToActionButton:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

img {
  max-width: 100%;
  height: auto;
}

.firstSectionHome {
  background-color: white;
  color: #011418;
}

.mission {
  color: #09558f;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.purposeOne {
  color: #09558f;
  font-size: 18px;
  font-weight: 200;
}

.purposeTwo {
  font-size: 56px;
  font-weight: 700;
  color: #011418;
}

.about {
  font-weight: 200;
  font-size: 24px;
  color: #011418;
}

.topnav {
  background-color: white;
  font-family: "Karla";
  height: 90px;
}

.uk-navbar-nav > li > a {
  color: #011418;
  transition: none;
}

.uk-navbar-nav > li > a:hover {
  color: #09558f;
  font-weight: bold;
}

.logo {
  margin-left: -10px;
  display: block;
  position: relative;
  bottom: 15px;
  width: 160px;
}

.uk-navbar-toggle {
  color: #011418;
  font-size: 24px;
}

.uk-navbar-toggle:hover {
  color: #09558f;
}

.uk-offcanvas-bar {
  background-color: #011418;
  opacity: 0.9;
}

.loginForm,
.signupForm {
  border-radius: 12px;
}

.welcomeBack,
.signUpForFree {
  font-size: 36px;
}

.uk-button.uk-button-secondary.uk-button-large.uk-width-1-1.uk-text-bold,
.uk-input.uk-form-large,
.uk-checkbox {
  border-radius: 10px;
}

#togglePassword {
  margin-left: -35px;
  cursor: pointer;
}

.loginBackground,
.signUpBackground {
  background-color: #011418;
  font-family: "Karla";
}

.signUpButton,
.loginButton {
  background-color: #09558f;
  font-size: 20px;
  transition: all 0.5s;
}

.featured {
  font-size: 56px;
  font-weight: 500;
  color: white;
}

.featuredImage {
  border-radius: 10px;
  cursor: pointer;
}

.featuredArtist {
  background-color: #011418;
  color: white;
}

.featuredHeaderText,
.featuredDescription {
  font-weight: 200;
  font-size: 24px;
}

.join {
  font-size: 56px;
  font-weight: 700;
  color: #09558f;
}

.joinTwo {
  font-weight: 200;
  font-size: 24px;
  color: #011418;
}

.lastButton {
  color: white;
  background-color: #09558f;
  border-color: #09558f;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.5s;
}

.lastButton:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

.recommendation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recommendation:after {
  content: "";
  display: block;
  height: 50px;
  background-image: url("/assets/header_images/torn-border2.png");
  position: relative;
  bottom: -75px;
  width: 100%;
}

.recCards {
  border-radius: 10px;
  opacity: 0.8;
}

.recTitle {
  font-weight: 700;
  font-size: 24px;
}

.recLocations {
  font-weight: 500;
  font-size: 20px;
  color: #011418;
}

.recLinks {
  color: #011418;
}

.recLinks:hover {
  color: #09558f;
}

.recPlaces {
  color: white;
  font-weight: 700;
  font-size: 56px;
}

.galleryImageCard,
.paintings,
.sculptures,
.photographs {
  border-radius: 10px;
}

.galleryImage {
  border-radius: 10px;
}

.galleryHeader {
  font-size: 56px;
  font-weight: 500;
  color: #011418;
}

.categoryTitle {
  font-size: 32px;
  font-weight: 500;
  color: #011418;
}

.categoryTitle:hover {
  color: #09558f;
  cursor: pointer;
}

.galleryOverlay {
  border-radius: 10 10 0 0;
}

.matrixImages,
.matrixCards {
  border-radius: 10px;
}

.matrixImages:hover {
  cursor: pointer;
}

.matrixCategoryHeader {
  font-size: 56px;

  font-weight: 700;
  color: #011418;
}

.matrixSubCategory {
  font-size: 24px;
  font-weight: 300;
  color: #09558f;
}

.artName {
  font-size: 56px;
  font-weight: 400px;
  color: white;
  text-align: center;
}

.commentsHeader {
  font-size: 56px;
  font-weight: 300px;
  color: white;
  text-align: center;
}

.artworkImage {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  width: 630px;
  height: 400px;
  box-shadow: 3px 4px 15px 20px rgba(9, 85, 143, 0.6);
}

.artworkDescriptionGallery {
  color: white;
  font-size: 24px;
  font-weight: 200px;
}

.addCommentGallery {
  color: white;
  font-size: 26px;
  font-weight: 500px;
}

.artworkSubmitComment {
  color: white;
  background-color: #09558f;
  border-color: #09558f;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.5s;
}

.artworkSubmitComment:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

#entireCard {
  border-radius: 12%;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  max-height: 600px;
  margin: auto;
  text-align: center;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
#entireCard:hover {
  cursor: pointer;
}
.artwork span {
  text-align: center;
  font-size: 21px;
  cursor: none;
  font-weight: bold;
  color: #09558f;
}
#bioSec {
  text-align: center;
  font-size: 21px;
  cursor: none;
  font-weight: bold;
  color: #09558f;
}
#userName {
  text-align: center;
  cursor: none;
  top: 25px;
  left: 0;
  font-weight: bold;
  padding: -40%;
}

.bioTxt {
  text-align: center;
  font-size: 15px;
  cursor: none;
  font-family: "Karla", "sans-serif";
  color: #011418;
}

.artSec {
  background-image: inherit;
}

.artSecHeading {
  font-weight: bold;
  text-align: center;
  color: white;
}

#profilePicArtist {
  height: 125px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 25px;
  width: 130px;
}

.artSec {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#artistDashboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallerySection {
  color: #103b5c;
}
#profilePg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#artCardBody #artworkTitle {
  color: #09558f;
  font-size: 25px;
  text-align: center;
}
#entireArtCard {
  border-radius: 12%;
  padding: 10px;
  overflow: hidden;
  margin-right: 50px;
  max-width: auto;
  max-height: 370px;
  width: 260px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

#artInfo {
  text-align: center;
  color: #103b5c;
  font-size: 18px;
  padding-bottom: 150px;
}

.profileHeaders {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.artistFonts {
  color: white;
  font-size: 18px;
  text-align: center;
}

#artworkProfileSec {
  height: auto;
  max-width: 100%;
  width: 350px;
  height: 200px;
}

p.artistFonts {
  color: white;
  font-size: 20px;
  text-align: center;
  top: 70px;
  position: relative;
  margin-top: 50px;
}
h3.profileHeaders {
  position: relative;
  top: 80px;
}

h4.profileHeaders {
  position: relative;
  top: 15px;
  margin-top: 70px;
}

#artworkPg {
  background-image: linear-gradient(
      rgba(0.5, 0.5, 0.5, 0.5),
      rgba(0.5, 0.5, 0.5, 0.5)
    ),
    url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#commentSection {
  background-color: #09558f;
  text-align: center;
  color: white;
  border-radius: 12%;
  opacity: inherit;
}

/* Dashboard Styling */
.updateUserInfo {
  color: white;
  background-color: #09558f;
  border-color: #09558f;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.5s;
}

.updateUserInfo:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

.userNameDashboard {
  color: #011418;
  font-size: 32px;
  font-weight: 500;
}

.updateHeaderDashboard {
  color: #011418;
  font-size: 24px;
}

.aboutTxt {
  color: #011418;
  font-size: 24px;
  font-weight: 200;
}

.email,.userName,.linkedIn,.instagram,.facebook,.twitter,.isArtistAccountDashboard,.bioDash {
  color: #011418;
  font-size: 16px;
}

.updateBioDashboard {
  border-radius: 5px;
  font-weight: 200;
}

.updateDisplayName,.updateLinkedIn,.updateInstagram,.updateFacebook,.updateTwitter {
  font-weight: 200;
  font-size: 16px;
}

.cancelButtonDashboard,.finalCancelButton,.addNewArtWork,.bottomCancelButton,.dashboardArtSlideShow {
  border-radius: 10px;
}

.saveButtonDashboard {
  color: white;
  background-color: #09558f;
  border-color: #09558f;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.5s;
}

.saveButtonDashboard:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

.finalSaveButton {
  color: white;
  background-color: #09558f;
  border-color: #09558f;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.5s;
}

.finalSaveButton:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

.bottomSaveButton {
  color: white;
  background-color: #09558f;
  border-color: #09558f;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.5s;
}

.bottomSaveButton:hover {
  color: white;
  background-color: #011418;
  border-color: #011418;
}

.artworkName,.artworkDescription, .artworkCategory,.imageText {
  color: #011418;
  font-size: 18px;
}

.dashboardArtSlideShow {
  color: #011418;
}

.artworkNameInput,.artworkDescriptionInput,.artworkCategoryInput {
  border-radius: 10px;
  font-weight: 200;
}

.uploadArtwork {
  color: #011418;
  font-size: 24px;
}

.addNewArtWork {
  font-size: 16px;
}

.uk-modal-dialog,.uk-modal-header,.updateModalForm {
  border-radius: 10px 10px 10px 10px;
}
