* {
    font-family: 'Karla', 'sans-serif';
}

/* Header image with slight scrim overlay so overlaying text is visible/readable */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(/assets/header_images/SteveJohnsonPexels.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
}

.header-inner {
    max-width: 80%;
    margin: 0 auto;
    padding: 300px 10px 50px;
}

/* All About That Art header text */
.header h1 {
    font-size: 75px;
    letter-spacing: 1.3px;
    font-weight: 700px;
    color: white;
    font-family: 'Karla';
}

/* Sign up to view local artist text */
.header h2 {
    font-size: 32px;
    letter-spacing: 1.3px;
    font-weight: 500px;
    color: white;
    font-family: 'Karla';
}

/* Call To Action(CTA) button underneath header text */
.uk-button-default {
    color: #011418;
    background-color: white;;
    border-radius: 3px;
}

/* Changed button hover to white for now */
.uk-button-default:hover {
    color: white;
    background-color: #011418;
    border-color: #011418;
}

/* First section for purpose, who we are, etc. */
.uk-section.uk-section-large.uk-section-muted {
    background-color: white;
    color: #011418;
}

/* Navbar link text color */
.uk-navbar-nav > li > a {
    color: #011418;
    transition: none;
}

/* Logo */
.uk-navbar-item.uk-logo {
    margin-left: -10px;
    display: block;
    position:relative;
}


/* Hamburger menu icon color */
.uk-navbar-toggle {
    color: #011418;
}

/* Hamburger menu icon side bar */
.uk-offcanvas-bar {
    background-color: #011418;
    opacity: 0.9;
}

/* Background of login/sign up pages  */
/* .form.uk-section,.uk-section-xlarge,.uk-section-muted,.uk-flex,.uk-flex-center {
    background-image: url(/images/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #011418;
} */

/* log in/sign up form border radius */
.uk-margin.uk-margin-auto.uk-width-xlarge.uk-card.uk-card-default.uk-card-body {
    border-radius: 6px;
}

/* form input fields/button/checkbox */
.uk-button.uk-button-secondary.uk-button-large.uk-width-1-1.uk-text-bold, 
.uk-input.uk-form-large, .uk-checkbox {
    border-radius: 3px;
}

/* eye icon on password field */
#togglePassword {
    margin-left: -35px;
    cursor: pointer;
}

.gallery-cards {
    border-radius: 6px;
}