* {
    font-family: 'Karla', 'sans-serif';
}

/* Header image with slight scrim overlay so overlaying text is visible/readable */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(/assets/header_images/pexels-steve-johnson-1545505.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header:after{
    content:"";
    display:block;
    height: 50px;
    background-image:url('https://ecorelos.com/wp-content/uploads/2020/04/torn-border2.png');
    position: absolute;
    bottom: 130px;
    width:300%;
    left:-500px;    
}

.header-inner {
    max-width: 80%;
    margin: 0 auto;
    padding: 300px 10px 50px;
}

/* All About That Art header text */
.header h1 {
    font-size: 100px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-family: 'Karla';
}

/* Sign up to view local artist text */
.header h2 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    font-family: 'Karla';
}

/* Call To Action(CTA) button underneath header text */
.uk-button-default {
    color: #011418;
    background-color: white;;
    border-radius: 20px;
}

/* Changed button hover to white for now */
.uk-button-default:hover {
    color: #09558F;
    background-color: white;
    border-color: #09558F;
}


/* First section for purpose, who we are, etc. */
.uk-section.uk-section-large.uk-section-muted {
    background-color: white;
    color: #011418;
}

/* Navbar link text color */
.uk-navbar-nav > li > a {
    color: #011418;
    transition: none;
}

/* Logo */
.uk-navbar-item.uk-logo {
    margin-left: -10px;
    display: block;
    position:relative;
}

/* Hamburger menu icon color */
.uk-navbar-toggle {
    color: #011418;
}

/* Hamburger menu icon side bar */
.uk-offcanvas-bar {
    background-color: #011418;
    opacity: 0.9;
}

/* log in/sign up form border radius */
.uk-margin.uk-margin-auto.uk-width-xlarge.uk-card.uk-card-default.uk-card-body {
    border-radius: 20px;
}

/* form input fields/button/checkbox */
.uk-button.uk-button-secondary.uk-button-large.uk-width-1-1.uk-text-bold, 
.uk-input.uk-form-large, .uk-checkbox {
    border-radius: 20px;
}

/* eye icon on password field */
#togglePassword {
    margin-left: -35px;
    cursor: pointer;
}

.gallery-cards {
    border-radius: 10px;
}


.mission {
    color: #09558F;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.purpose1 {
    color: #09558F;
    font-size: 14px;
}

.purpose2 {
    font-size: 48px;
    font-weight: 700;
    color: #011418;
}

.about {
    font-weight: 200;
    color: #011418;
}

.featured {
    font-size: 48px;
    font-weight: 500;
    color: #011418;
}

.featured-image {
    border-radius: 10px;
}

.lastButton {
    color: white;
    background-color: #011418;
    border-radius: 20px;
}

.lastButton:hover {
    color: #011418;
    background-color: white;
    border-color: #011418;
}

.recs {
    border-radius: 20px;
    opacity: 0.8;
}

.recTitle {
    font-weight: 700;
    font-size: 20px;
}

.locations {
    font-weight: 500;
    font-size: 18px;
    color: #2e2e2e;
}

.links {
    color: #696969;
}

.links:hover {
    color: black;
}

.places {
    font-weight: 700;
}

.join {
    font-size: 48px;
    weight: 500;
    color: #09558F;
}

.join2 {
    font-weight: 200;
    color: #011418;
}
