* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 200px;
}

body {
  height: 100vh;
  width: 100%;
}

#profile-sec {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
}

#photo {
  height: 100%;
  width: 100%;
}

#picFile {
  display: none;
}

#upload {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
